MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=gamedb

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_SERVICE_URL=http://127.0.0.1:3000
NAVER_CALLBACK_URL=http://127.0.0.1:3000/auth/naver/callback
